table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i{
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

i {
    transition: transform .2s;
}

i:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);  
}