.div-items-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 20px;
}

.card-col-description {
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
}

.card-col-description .title {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.2;
}

.card-col-description .subtitle {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0px;
}

.table-div {
    border-radius: 8px;
    padding: 10px;
}

table {
    width: 100%;
}

.launchyear_col {
    font-size: 1rem;
    text-align: left;
    padding-left: 5px;
}

.platform_col {
    font-size: 0.7rem;
    text-align: left;
}

.category_col {
    font-size: 1.1rem;
    text-align: center;
}

.website_col {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
}

.name_col {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
}

.portfolio_link {
    margin-right: 10px;
}
.portfolio_link > i{
    color: #2656d9;
}

.delete > i {
    color: #e35e6b;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


.techs-column-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.techs-column-div > *{ /* "> *" significa que todo filho deste elemento terá */
    margin-right: 12px;
}

.hide {
    display: none;
}

.mini-logo {
    width: 1.6rem;
    vertical-align: middle;
    transition: transform .3s;
}

.mini-logo:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.8);  
}


::ng-deep .mat-sort-header-container {
    justify-content: center;
  }
