.th {
    font-size: 0.9rem;
}
.div-items-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    column-gap: 20px;
    padding-bottom: 18px;
}

.card-col-description {
    margin-bottom: 0px;
    border-radius: 8px;
    width: 100%;
}

.card-col-description .title {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.2;
}

.card-col-description .subtitle {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0px;
}

.table-div {
    border-radius: 8px;
    padding: 10px;
}

table {
    width: 100%;
}

.name_col {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: start;
}

.div-name {
    margin-right: 10px;
    transition: transform .1s;
}

.div-name:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.07);
}

.launchyear_col {
    font-size: 1rem;
    text-align: left;
    padding-left: 15px;
}

.platform_col {
    font-size: 0.7rem;
    text-align: left;
}

.platform-content-cell {
    font-size: 0.7rem;
    text-align: left;
    display: flex;
    justify-content: center;
}

.platform-content-cell>i {
    margin: 0px 8px 0px 0px;
    font-size: 2.1rem;
}

.platform-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    font-size: 0.7rem;
}

.category_col {
    font-size: 1.1rem;
    text-align: center;
}

.website_col {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
}

.div-portfolio_link {
    margin-right: 10px;
    transition: transform .3s;
}

.div-portfolio_link:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.4);
}

.delete>i {
    color: #e35e6b;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.techs-column-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.techs-column-div>* {
    /* "> *" significa que todo filho deste elemento terá */
    margin-right: 12px;
}

.hide {
    display: none;
}

.show {
    visibility: visible;
}

.mini-logo-fixed {
    width: 1.6rem;
    vertical-align: middle;
}

.mini-logo {
    width: 1.6rem;
    vertical-align: middle;
    transition: transform .3s;
}

.mini-logo:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.8);
}

::ng-deep .mat-sort-header-container {
    justify-content: center;
}

/*
   TOOL TIP 
   .tooltip {
       position: relative;
       display: inline-block;
       border-bottom: 1px dotted black;
    }
    */

.platform_col .tooltiptext {
    font-size: 0.9rem;
    visibility: hidden;
    width: 162px;
    background-color: rgba(111, 111, 111, 0.99);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin: 26px 33px;
}

.platform_col:hover .tooltiptext {
    visibility: visible;
}

.category_col .tooltiptext {
    font-size: 1rem;
    visibility: hidden;
    width: 172px;
    background-color: rgba(111, 111, 111, 0.99);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin: 23px 23px;
}

.category_col:hover .tooltiptext {
    visibility: visible;
}

.show > .tooltiptext {
    visibility: hidden;
    width: 155px;
    background-color: rgba(111, 111, 111, 0.99);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin: 42px -166px;
}

.show:hover .tooltiptext {
    visibility: visible;
}