<a routerLink="/demos">
    <button mat-raised-button color="primary">
        <span class="material-icons-two-tone md-24 v-middle">
            arrow_back
        </span>
        Back to Demos
    </button>
</a>
<br>
<div class="view-content">
    <div
        style="display: flex; justify-content: center; flex-direction: column; align-items: center; border: none; width: 100%;">

        <div
            style="display: flex; flex-direction: column; align-items: stretch; max-width: 1000px; border: none; width: 100%;">


            <!-- 
    STACKOVERFLOW Angular 9 Tutorial | Create A Angular Audio Player Project | Angular Training
 https://www.youtube.com/watch?v=1lJm3n7yKQE 
 STACKOVERFLOW https://www.npmjs.com/package/moment
-->
            <h1>Audio App</h1>

            <mat-card class="mat-elevation-z4" *ngFor="let file of files" (click)="openFile(file.url)"
                style="margin:0px 15px 10px 15px; border-radius: 8px; background-color: #fcfcfc;" matRipple
                [matRippleRadius]="133">
                {{file.name}}
            </mat-card>

            <mat-card class="card mat-elevation-z4">
                <div style="display: flex; flex-direction: row;">
                    <button mat-raised-button (click)="play()" color="primary" class='button'
                        style="margin: 5px 16px 0 0; width: 100px;">
                        <mat-icon mat-list-icon class="material-icons side-nav-icon">
                            play_arrow
                        </mat-icon>
                        Play
                    </button>
                    <button mat-raised-button (click)="pause()" color="primary" class='button'
                        style="margin: 5px 16px 0 0; width: 100px;">
                        <mat-icon mat-list-icon class="material-icons side-nav-icon">
                            pause
                        </mat-icon>
                        Pause
                    </button>
                    <button mat-raised-button (click)="stop()" color="primary" class='button'
                        style="margin: 5px 0 0 0 ; width: 100px;">
                        <mat-icon mat-list-icon class="material-icons side-nav-icon">
                            stop
                        </mat-icon>
                        Stop
                    </button>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; 
                margin: 5px 0 0 20px;">
                    <div style="margin: 16px 0 0px 0; border: none;">
                        <span style="font-weight: 500; margin: 0 3px 0 0;">{{ currentTime}}</span>
                        <!--
                       tutorial input:
                       <input type="range" min="0" max="{{audioMaxLength}}" [value]="seek" (input)="setSeekTo($event)">
                   -->
                        <mat-slider min="0" max="{{audioMaxLength}}" [value]="seek" value="0"
                            (input)="setSeekTo($event)" color="primary"></mat-slider>
                        <!-- to prevent just before the audio player starts shows 'Invalid date' in duration-->
                        <span style="font-weight: 500; margin: 0 0px 0 3px;">{{duration === 'Invalid date' ? '00:00:00' : duration}}</span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;
                    vertical-align: middle; border: none;">
                        <span style="font-weight: 500; margin: 3px 5px 0 0;">volume</span>
                        <mat-slider min="0" max="1" step="0.025" value="0.75" (input)="setVolume($event)"
                            color="primary">
                        </mat-slider>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>