.texto {
    font-size: 0.5rem;
}

table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}
.edit > i{
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.view > i {
    color: #0d3fe2;
}

.button {
    margin-top: 15px;
}