<div class="view-content">
    <div style="display: flex; justify-content: center; align-items: center; border: none; width: 100%;">

        <div
            style="display: flex; flex-direction: column; align-items: stretch; max-width: 800px; border: none; width: 100%;">

            <mat-card>
                <mat-card-title>Delete Product</mat-card-title>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Name" [value]="product.name" name="name" disabled>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Price (R$)" [value]="product.price" name="price" disabled>
                    </mat-form-field>
                </form>

                <button mat-raised-button (click)="deleteProduct()" color="warn">
                    Delete
                </button>

                <button mat-raised-button (click)="cancel()">
                    Cancel
                </button>
            </mat-card>
        </div>
    </div>
</div>