<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Hello!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        I like to learn by doing things.
        <br><br>
        I've been coding for 3+ years. I am a big fan of practical-based approach when it comes to learning.
        <br><br>
        I am a react native frontend developer.
        <br><br>
        It doesnt mean I do only React Native Projects. You can see a list of projects I worked in the past few years
        here.
        <br><br>
        I am able to develop a full-stack system, including the server configuration in a cloud server, for exemple (see
        this project)
        <br><br>
        I like to integrate services with differents APIs, such as getting sports data from an paid API and post some
        status and analisys via twitter using a self-made React Native APP, not the twitter offical app nor website
        (check out this one).
        <br><br>
        Furthermore, I love chatbots. I do a lot of stuff with them. You can see an exemple of ChatBots helping you with
        your daily todo list here. Another awsome bot remindes me everyday of my mom's medicine time. It never fails, it
        is a bot (go see here)
        <br><br>
        Do you have a great idea for a new project?
        <br><br>
        Let me know, just send me a message.
        <br>
        <br>
    </mat-card-subtitle>
    <!-- #STACKOVERFLOW https://stackoverflow.com/questions/40728816/how-to-put-text-on-either-side-of-a-div-html5 -->
    <div class="div-signature">
        <strong><span class="red">J</span>Victor</strong>
        <div class="blob"></div> 12jan2021
        <!-- JVictor ●<b>·</b> 12 jan 2021 -->
    </div>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        I can work in the complete stack, altough I feel more confortable with...
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <div style="display: flex; justify-content: center; flex-direction: column;border-style: none;">
            <div class="div-jvictor-stack-item" style="margin-right: 80%">
                <span class="span-jvictor-stack-text">UI/UX</span>
                <i class="material-icons-two-tone md-60 mini-logo">palette</i> <!-- design_services -->
            </div>
            <div class="div-jvictor-stack-item" style="margin-right: 60%">
                <span class="span-jvictor-stack-text">WEB/MOBILE<br>PAGES</span>
                <i class="material-icons-two-tone md-60 mini-logo pulse">desktop_windows</i>
                <!-- desktop_windows phone_android -->
            </div>
            <div class="div-jvictor-stack-item" style="margin-right: 35%">
                <span class="span-jvictor-stack-text">VIEW LOGIC</span>
                <i class="material-icons-two-tone md-60 mini-logo pulse">developer_mode</i>
                <!-- integration_instructions developer_mode -->
            </div>
            <div class="div-jvictor-stack-item" style="margin-right: 10%">
                <span class="span-jvictor-stack-text">API ENDPOINTS</span>
                <div class="div-mini-logo-combo pulse"
                    style="display: flex; flex-direction: column; justify-content: center;
                border-color: black;border-width: 10px; border: black;border-style: inset; width: min-content; border-width: 0;">
                    <div
                        style="display: flex; flex-direction: column; border-style: inset;border-color: red; border-width: 0;">
                        <i class="material-icons-two-tone md-48 mini-logo-combo">compare_arrows</i>
                        <!-- mail  http compare_arrows-->
                    </div>
                    <div
                        style="display: flex; flex-direction: column; border-style: inset;border-color: blue; border-width: 0;">
                        <i class="material-icons-two-tone md-48 mini-logo-combo-fixed">http</i>
                        <!-- mail  http compare_arrows-->
                    </div>
                </div>
            </div>
            <div class="div-jvictor-stack-item" style="margin-left: 10%">
                <span class="span-jvictor-stack-text">MODEL LOGIC</span>
                <i class="material-icons-two-tone md-60 mini-logo">code</i>
            </div>
            <div class="div-jvictor-stack-item" style="margin-left: 30%">
                <span class="span-jvictor-stack-text">DATABASE/FILES</span>
                <i class="material-icons-two-tone md-60 mini-logo">storage</i>
            </div>
            <div class="div-jvictor-stack-item" style="margin-left: 55%">
                <span class="span-jvictor-stack-text">SERVER<br>INFRAESTRUCTRE</span>
                <i class="material-icons-two-tone md-60 mini-logo"> cloud </i>

            </div>
        </div>
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
        Yeah! Frontend development and API integrations.
        <br><br>
    </mat-card-subtitle>
    <div class="div-signature">
        <strong><span class="red">J</span>Victor</strong>
        <div class="blob"></div> 12jan2021
        <!-- JVictor ●<b>·</b> 12 jan 2021 -->
    </div>
</mat-card>