<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Hello!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        I am a react native frontend developer.
        <br><br>
        It doesnt mean I do only React Native Projects. You can see a list of projects I worked in the past few years
        here.
        <br><br>
        I am able to develop a full-stack system, including the server configuration in a cloud server, for exemple (see
        this project)
        <br><br>
        I like to integrate services with differents APIs, such as getting sports data from an paid API and post some
        status and analisys via twitter using a self-made React Native APP, not the twitter offical app nor website
        (check out this one).
        <br><br>
        Furthermore, I love chatbots. I do a lot of stuff with them. You can see an exemple of ChatBots helping you with
        your daily todo list here. Another awsome bot remindes me everyday of my mom's medicine time. It never fails, it
        is a bot (go see here)
        <br><br>
        Do you have a great idea for a new project?
        <br><br>
        Let me know, just send me a message.
        <br>
    </mat-card-subtitle>
</mat-card>