.home {
    margin-bottom: 20px;
    border-radius: 8px;
}

.home .title {
    font-size: 2.5rem;
    font-weight: light;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
    margin-top: 0px;
}

.certificate {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 8px;
  transition: transform .4s;
  max-width: 400px;
}

.certificate:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.4);  
    border-radius: 8px;
}
