<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadastro em Angular (CRUD).
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
        <ul>
            <li *myFor="let n em ['C reate','R etrieve','U pdate','D elete']">{{ n }}</li>
        </ul>
    </mat-card-subtitle>

</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle">
        Baseado no curso de Angular 9 Essencial da COD3R, disponível em
        https://www.cod3r.com.br/courses/angular-9-essencial
    </mat-card-subtitle>
    <img class="certificate" src="assets/img/certificate-110220903.jpg" alt="certificate">
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle">
        Aplicação web <b>SPA</b> desenvolvida em <b>ANGULAR</b>, um framework que roda sob <b>NODE.JS</b>, usando <b>TYPESCRIPT,
            HTML </b>e<b> CSS</b>.
        Hospedado em um servidor Linux <b>UBUNTU</b> na nuvem da <b>DIGITALOCEAN</b>. Controle de versão feito com
        <b>GIT</b> e
        <b>GITHUB</b>. Backend rodando sob <b>JSON SERVER</b>. Gerenciamento de pacotes com <b>NPM</b>. Proxy reverso
        <b>NGINX</b>, certificação SSL com <b>CERTSSL</b> e
        gerenciamento de processos Linux com <b>PM2</b>.
    </mat-card-subtitle>
</mat-card>