<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Welcome!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        This is a course project website built with Angular 11 and <b>entirely costumized to show my portfolio</b>.
        <br>
        The original project is a simple web CRUD solution. Click <a href="https://bolanarede.net.br/products" target="_blank">
            here</a> to see the exactly result of the course.
        <!-- Sistema para exemplificar a construção de um cadastro em Angular (CRUD). -->
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
        <ul>
            <li *myFor="let n em ['C reate','R ead','U pdate','D elete']">{{ n }}</li>
        </ul>
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        The Course
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        "Angular 9 Essencial" course by COD3R company. Available here:
        <!-- Baseado no curso de Angular 9 Essencial da COD3R, disponível em -->
        <a href="https://www.cod3r.com.br/courses/angular-9-essencial" target="_blank">
            https://www.cod3r.com.br/courses/angular-9-essencial
        </a>
        <br><br>
        <a href="../assets/img/certificate-110220903.jpg" target="_blank">
            <img class="certificate" src="assets/img/certificate-110220903.jpg" alt="certificate">
        </a>
        <br>
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle">
    Web application built with <b>ANGULAR</b>, a framework running over <b>NODE.JS</b>, using
        <b>TYPESCRIPT,
            HTML </b>and<b> CSS</b>. In addition, used <a href="https://fontawesome.com/license"><b>FONT AWESOME</b></a> for some icons.
        Hosted in a Linux <b>UBUNTU</b> dedicated server at <b>DIGITALOCEAN</b> cloud infraestructure. Version control by 
        <b>GIT</b> and
        <b>GITHUB</b>. Backend running over <b>JSON SERVER</b>. Package management with <b>NPM</b>. Reverse proxy with
        <b>NGINX</b>, SSL certification with <b>CERTBOT</b> and Linux process management with <b>PM2</b>.
        <!-- 
Aplicação web desenvolvida em <b>ANGULAR</b>, um framework que roda sob <b>NODE.JS</b>, usando
        <b>TYPESCRIPT,
            HTML </b>e<b> CSS</b>.
        Hospedado em um servidor Linux <b>UBUNTU</b> na nuvem da <b>DIGITALOCEAN</b>. Controle de versão feito com
        <b>GIT</b> e
        <b>GITHUB</b>. Backend rodando sob <b>JSON SERVER</b>. Gerenciamento de pacotes com <b>NPM</b>. Proxy reverso
        <b>NGINX</b>, certificação SSL com <b>CERTBOT</b> e
        gerenciamento de processos Linux com <b>PM2</b>.

        -->
    </mat-card-subtitle>
</mat-card>