<div class="view-content">
    <div style="display: flex; justify-content: center; align-items: center; border: none; width: 100%;">

        <div
            style="display: flex; flex-direction: column; align-items: stretch; max-width: 800px; border: none; width: 100%;">


            <mat-card>
                <mat-card-title>Modify Product</mat-card-title>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="product.name" name="name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Price (R$)" [(ngModel)]="product.price" name="price">
                    </mat-form-field>
                </form>

                <button mat-raised-button (click)="updateProduct()" color="primary">
                    Save
                </button>

                <button mat-raised-button (click)="cancel()">
                    Cancel
                </button>
            </mat-card>
        </div>
    </div>
</div>