<!-- STACKOVERFLOW
    https://github.com/FortAwesome/angular-fontawesome
   <fa-icon [icon]="faArrowAltCircleDown" size="1x"></fa-icon>
   size = xs sm lg 2x 3x 4x 10x
   
-->       
<a href="../assets/other/my-resume-portfolio.pdf" target="_blank">
    <button mat-raised-button color="primary" class='button'>
        <fa-icon [icon]="faArrowAltCircleDown" size="lg"></fa-icon>
        Download Resume
    </button>
</a>
<br><br>
    <!-- STACKOVERFLOW
         https://stackoverflow.com/questions/19654577/html-embedded-pdf-iframe 
        -->
<object data="../assets/other/my-resume-portfolio.pdf" type="application/pdf">
</object>
<br>
<iframe
    src="https://docs.google.com/viewer?url=portfolio.jvictor.com.br/assets/other/my-resume-portfolio.pdf&embedded=true"></iframe>
<br>
<iframe
    src="https://docs.google.com/viewer?url=docs.google.com/document/d/1woTip6s9ZMGvgO4MqPY5oOt_YyTA4Wi4dEVZVvftaB8/export?format=pdf&embedded=true"></iframe>

<br>
<iframe
    src="https://docs.google.com/document/d/e/2PACX-1vSE-GgQ6IPQh8zY8F5W0LY0Z_XDdvv5OYPZvEDniFb5k5fR3flEhWzaM0jpmiYUP8BeeaWd5QwEiLDC/pub?embedded=true"></iframe>