<!-- STACKOVERFLOW
    https://github.com/FortAwesome/angular-fontawesome
   <fa-icon [icon]="faArrowAltCircleDown" size="1x"></fa-icon>
   size = xs sm lg 2x 3x 4x 10x
   
-->
<a href="https://docs.google.com/document/d/1fjIjyxVRkpjsxL__w8ieoDN3uL-UDQrAffatmLpPTyw/export?format=pdf"
    target="_blank">
    <button mat-raised-button color="primary" class='button' style="margin-bottom: 16px;">
        <fa-icon [icon]="faArrowAltCircleDown" size="lg"></fa-icon>
        Download Resume
    </button>
</a>
<!-- STACKOVERFLOW
         https://stackoverflow.com/questions/19654577/html-embedded-pdf-iframe 
         <object data="/assets/other/my-resume-portfolio.pdf"
         type="application/pdf">
       </object>

       https://stackoverflow.com/questions/18665171/how-to-make-the-main-content-div-fill-height-of-screen-with-css

    -->
<div style="display: flex; flex-direction: column; align-items: center; height: 86vh;">

    <iframe style="width: 100%; height: 100%; border-radius: 8px; border: none; border-color: black; max-width: 1400px;"
        src="https://docs.google.com/viewer?url=portfolio.jvictor.com.br/assets/other/jvictor.com.br-resume.pdf&embedded=true"></iframe>
    <br>
</div>