<a routerLink="/products">
    <button mat-raised-button color="primary" class='button' style="margin-bottom: 16px; width: 200px;">
        <mat-icon mat-list-icon class="material-icons side-nav-icon">
            storefront
        </mat-icon>
        Products CRUD
    </button>
</a>
<br>
<a routerLink="/futebol">
    <button mat-raised-button color="primary" class='button' style="margin-bottom: 16px; width: 200px;">
        <fa-icon [icon]="faFutbol" size="sm" class="material-icons" style="color: white;margin:-7px 3px 0 0px">
        </fa-icon>
        Live Soccer
        <!--
                                <mat-icon mat-list-icon class="material-icons icon">
                                    sports_soccer
                                </mat-icon>
                            -->
    </button>
</a>