button {
    margin: 20px 15px 20px 0px;
}

.graphsCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.graphs {
    display: flex;
    flex-direction: row;
    border: none;
    max-width: 800px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 12px;
    border-radius: 8px;
}

.teamLogos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 18%;
    min-width: 50px;
    max-width: 80px;
    border: none;
    padding: 0 0 13px;
    margin-left: 10px;
}

/* STACKOVERFLOW https://stackoverflow.com/questions/787839/resize-image-proportionally-with-css */

.graphTeamLogo {
    height: auto;
    width: 80%;
    align-self: flex-end;
    border: none;
}

.pointsSlicesToShow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
}

.pointsSlicesToShow .title {
    font-size: 1rem;
    text-align: center;
    font-weight: light;
    line-height: 1.5;
    border: none;
    margin-left: 10vw;
}

.eventNameAndLogos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
}

.eventNameAndLogos .title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: light;
    line-height: 1.5;
    border: none;
}

.eventNameAndLogos .subtitle {
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 3px;
    border-color: black;
    line-height: 2;
    vertical-align: middle;
    border: none;
}

.eventStats {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    line-height: 1.5;
}

.eventStats .subtitle {
    font-size: 1.3rem;
    text-align: center;
}

/*
STACKOVERFLOW https://www.geeksforgeeks.org/how-to-display-spinner-on-the-screen-till-the-data-from-the-api-loads-using-angular-8/
*/

#loadingEventComponent {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3f51b5;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#eventComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    /* flex: 1 0 100%; /* flex-grow, flex-shrink, flex-basis */
    align-items: stretch;
}