<mat-card class="eventNameAndLogos mat-elevation-z2">
    <mat-card-title class="title">
        {{ event.league.name }}
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ event.stringedGameWithRedcardsAndClock }}
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
    <img src="https://assets.b365api.com/images/team/b/{{ event.home.image_id }}.png" alt="home_logo" />
      X  
    <img src="https://assets.b365api.com/images/team/b/{{ event.away.image_id }}.png" alt="away_logo" />
    </mat-card-subtitle>
</mat-card>
<mat-card class="eventStats mat-elevation-z2">
    <mat-card-title class="title">
        {{ event.pointsSlices.minutesToShow_stringed }}
    </mat-card-title>
    <br>
    <mat-card-title class="title">
        {{ event.pointsSlices.powerIndexToShow_stringed }}
    </mat-card-title>
    <mat-card-title class="subtitle">
        {{ event.event_odds.odds_summary.end.home_odd }}
        <img src="https://assets.b365api.com/images/team/s/{{ event.home.image_id }}.png" alt="home_logo" />
        {{ event.stringedGameWithRedcards }}
        <img src="https://assets.b365api.com/images/team/s/{{ event.away.image_id }}.png" alt="away_logo" />
        {{ event.event_odds.odds_summary.end.away_odd }}
    </mat-card-title>
    <mat-card-title class="subtitle">
        📊
        {{ event.event_odds.odds_summary.start.home_odd }}
        |
        {{ event.event_odds.odds_summary.start.draw_odd }}
        |
        {{ event.event_odds.odds_summary.start.away_odd }}
    </mat-card-title>
</mat-card>

<mat-card class="event mat-elevation-z2">
    <mat-card-title class="title">
        JSON
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        eventoJSON: {{event | json}} => {{eventId}}
    </mat-card-subtitle>
    <ul>
        <li *myFor="let n em ['C reate','R etrieve']">{{ n }}</li>
    </ul>
</mat-card>


<button mat-raised-button (click)="consolaTotalEvents()" color="primary">
    Consola
</button>

<button mat-raised-button (click)="updateEvents()">
    Update
</button>

<button mat-raised-button (click)="atribuirJogo()">
    Atribuir
</button>


<!--

    <p class="texto">{{ jogos | json }}</p>
-->