<div class="example-container mat-elevation-z10" [class.example-is-mobile]="mobileQuery.matches">


    <mat-toolbar color="primary" class="example-toolbar mat-elevation-z10">
        <button mat-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
        <div style="width: 250px; border: none;">

            <div class="showhim">
                <h1 class="example-app-name">
                    <strong style="color:white;">
                        <span class="red">J</span>Victor </strong>
                    <!-- STACKOVERFLOW https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-a -->
                </h1>
                <div class="showme">
                    <div style="display: flex;justify-content: flex-end; flex-direction: column;height: 100px;">
                        <div
                            style="display: flex; justify-content: center; flex-direction: column;border: none;width: 235px; margin: 22px -18px">

                            <div
                                style="display: flex;justify-content: flex-end; text-align: center;font-size: 0.75rem; color:blanchedalmond; font-weight: 400; margin: 30px 70px 2px 0;border: none;">
                                FULLSTACK
                            </div>

                            <div
                                style="display: flex;justify-content: flex-start; text-align: center;font-size: 0.85rem; color:blanchedalmond; font-weight: 700; margin: -22px 0 -3px 30px;border: none;">
                                J A V A S C R I P T
                            </div>
                            <div
                                style="display: flex;justify-content: flex-end; text-align: center;font-size: 1.0rem; color:blanchedalmond; font-weight: 500; margin: -15px 39px 15px 0; border:none;">
                                DEVELOPER
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <span class="title-group">
                <a routerLink="{{ routeUrl }}">
                    {{ title }}
                    <i class="material-icons md-32 title-icon">
                        {{ icon }}
                    </i>
                </a>
            </span>
        </div>

    </mat-toolbar>

    <!--
    <mat-sidenav-container class="container">
        <!-- opened="true" 
        mode="side" 
        fixedInViewport="true" 
        
        <button md-raised-button="md-raised-button" color="primary" (click)="sidenav.toggle()">Open Sidenav</button>
        <mat-sidenav #sidenav class="sidenav" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')" [fixedInViewport]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
        fixedTopGap="56" disableClose="false" fixedBottomGap="0" position="start">
    -->


    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="sidenav mat-elevation-z10" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [(opened)]="opened">
            <div style="display: flex; flex-direction: column; justify-content: flex-start; height: 95%;">
                <div style="display: flex; flex-direction: column; margin-top: 0px;">
                    <mat-nav-list class="nav-list">
                        <!-- STACKOVERFLOW https://stackoverflow.com/questions/43808809/close-angular-material-sidenav-on-any-button-click-inside -->
                        <a mat-list-item routerLink="/" class="list-item-with-icon">
                            <!-- STACKOVERFLOW https://stackoverflow.com/questions/49176479/angular-incorrect-margin-left-applied-to-sidenav-content -->
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                <!--https://material.io/resources/icons/?style=baseline-->
                                home
                            </mat-icon>
                            Home
                        </a>
                        <a mat-list-item routerLink="/portfolio-list" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                work
                                <!-- work_outline work -->
                            </mat-icon>
                            Projects
                        </a>
                        <a mat-list-item routerLink="/my-experience" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                work
                                <!-- work_outline work -->
                            </mat-icon>
                            My experience
                        </a>
                        <a mat-list-item routerLink="/resume" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                text_snippet
                                <!-- work_outline work -->
                            </mat-icon>
                            Resume
                        </a>
                        <a mat-list-item routerLink="/jvictor-stack" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                settings_ethernet
                                <!-- developer_mode work code -->
                            </mat-icon>
                            JVictor Stack
                        </a>
                        <a mat-list-item routerLink="/products" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                storefront
                            </mat-icon>
                            Products CRUD
                        </a>
                        <a mat-list-item routerLink="/futebol" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <fa-icon [icon]="faFutbol" size="sm" class="material-icons"
                            style="color: white;margin:-7px 8px 0 6px"></fa-icon>
                            <!--
                                <mat-icon mat-list-icon class="material-icons icon">
                                    sports_soccer
                                </mat-icon>
                            -->
                            Live Soccer
                        </a>
                        <a mat-list-item routerLink="/contact" class="list-item-with-icon"
                            (click)="mobileQuery.matches === false || sidenav.close()">
                            <mat-icon mat-list-icon class="material-icons side-nav-icon">
                                mail_outline
                                <!-- contact_page perm_identity -->
                            </mat-icon>

                            Contact
                        </a>
                        <div
                            style="display: flex;justify-content: center; flex-direction: column;height: 55px; align-content: center; text-align: center;">

                        </div>
                        <div style="display: flex;justify-content: flex-end; flex-direction: column;height: 100px;">
                            <div class="showhim">
                                <div
                                    style="display: flex; justify-content: center; flex-direction: column;border: none;width: 235px;">
                                    <div
                                        style="display: flex; justify-content: flex-start; flex-direction: column; margin-top: 0px;border: none;">
                                        <div
                                            style="display: flex;justify-content: flex-end; text-align: center;font-size: 0.75rem; color:blanchedalmond; font-weight: 400; margin: 10px 70px 2px 0;border: none;">
                                            FULLSTACK
                                        </div>

                                        <div
                                            style="display: flex;justify-content: flex-start; text-align: center;font-size: 0.85rem; color:blanchedalmond; font-weight: 700; margin: -10px 0 0 30px;border: none;">
                                            J A V A S C R I P T
                                        </div>
                                        <div
                                            style="display: flex;justify-content: flex-end; text-align: center;font-size: 1.0rem; color:blanchedalmond; font-weight: 500; margin: -5px 39px 15px 0;border: none;">
                                            DEVELOPER
                                        </div>
                                    </div>
                                </div>

                                <div class="showme">
                                    <div
                                        style="display: flex; flex-direction: column; justify-content: center; align-content: center; text-align: center; margin-bottom: 22px;">
                                        <span style="font-weight: 600; margin: 0 0 0 10px;">

                                            Developed with
                                            <i class="material-icons v-middle pulse-heart" appRed>
                                                favorite
                                            </i>
                                            by <strong><span class="red">J</span>Victor </strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            style="display: flex;justify-content: center; flex-direction: column;height: 30px; align-content: center; text-align: center;">


                            <div style="display: flex;justify-content: center;">
                                <!-- 
                                    STACKOVERFLOW https://support.google.com/a/users/answer/9308985?hl=pt-BR
                                    <a href="../assets/other/my-resume-portfolio.pdf" target="_blank" title="My Resume">
                                -->
                                <a href="https://docs.google.com/document/d/1fjIjyxVRkpjsxL__w8ieoDN3uL-UDQrAffatmLpPTyw/export?format=pdf"
                                    title="Download my Resume">
                                    <span class="material-icons md-28 v-middle mini-logo"
                                        style="color:black; margin:3px 4px 0 0px">
                                        text_snippet
                                        <!-- picture_as_pdf work-->
                                    </span>
                                </a>
                                <a href="mailto:victorjtube@gmail.com" title="E-mail">
                                    <fa-icon [icon]="faEnvelope" size="1x" class="material-icons v-middle mini-logo"
                                        style="color: black;margin:2px 0 0 15px"></fa-icon>
                                </a>
                                <a href="https://github.com/jvictorhub" target="_blank"
                                    title="Check out my projects on GitHub">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo"
                                        style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                                <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-ramos-6570a21b7/" target="_blank"
                                    title="Connect on Linkedin">
                                    <fa-icon [icon]="faLinkedin" size="1x" class="material-icons v-middle mini-logo"
                                        style="color: black;margin:2px 0 0 15px"></fa-icon>
                                </a>
                                <!-- STACKOVERFLOW
                              https://github.com/FortAwesome/angular-fontawesome
                                <fa-icon [icon]="faArrowAltCircleDown" size="1x"></fa-icon>
                                size = xs sm lg 2x 3x 4x 10x

                                STACKOVERFLOW
                                https://stackoverflow.com/questions/14474452/can-i-change-the-color-of-font-awesomes-icon-color
                                -->
                                <a href="https://www.youtube.com/channel/UCXtXm6Uew48cx3Ne-YGF6tg"
                                    title="My YouTube channel" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo"
                                        style="color: black;margin:2px 0 0 15px"></fa-icon>

                                </a>
                            </div>
                        </div>
                    </mat-nav-list>
                </div>
            </div>
            <!--
    <app-footer>Componente App</app-footer>

-->


        </mat-sidenav>


        <mat-sidenav-content class="content">
            <!--

                <p>
                    <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
                </p>
                <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
            -->
            <!-- 
                STACKOVERFLOW https://stackoverflow.com/questions/4646708/css-how-to-get-scrollbars-for-div-inside-container-of-fixed-height
                STACKOVERFLOW https://stackoverflow.com/questions/9811465/scrollable-div-inside-container/9811527
                <div style="box-shadow: inset 0 0 0.4em black, 0 0 0em red;padding: 5px 5px 5px 5px;"></div>
                <div id="div1" style="height: 80%;position: fixed;"></div>
                
                <div style="box-shadow: inset 0 0 0.4em black, 0 0 0em red;padding: 5px 0px 0px 0px; display: flex;">
                    <div id="div1" style="display:flex;height: 100%;position: fixed; width: 100%;">
                        <div id="div2" style="display:flex;height: 100%;overflow:auto;border:1px solid red;">
                            
                            
                            <div style="box-shadow: inset 0.0em 0.0em 0.4em black, 0 0 0em red;margin: -16px 0px -10px -16px; padding: 3px;">
                                <div style="box-shadow: inset 0 0 0.0em black, 0 0 0em red; height: 100%; overflow-y: auto; padding: 16px;">
                                </div>
                            </div>
                        -->

            <router-outlet>
            </router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>