<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" 
    opened="true"
    fixedInViewport="true" fixedTopGap="64"
    disableClose="false"
    fixedBottomGap="0"
    position="start"
    
    >
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/" class="list-item-with-icon">
                <i class="material-icons"> <!--https://material.io/resources/icons/?style=baseline-->
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/my-experience" class="list-item-with-icon">
                <i class="material-icons"> 
                    work <!-- work_outline work -->
                </i>
                My experience
            </a>
            <a mat-list-item routerLink="/jvictor-stack" class="list-item-with-icon">
                <i class="material-icons"> 
                    settings_ethernet <!-- developer_mode work code -->
                </i>
                JVictor Stack
            </a>
            <a mat-list-item routerLink="/portfolio-full" class="list-item-with-icon">
                <i class="material-icons"> 
                    work <!-- work_outline work -->
                </i>
                Full Portfolio
            </a>
            <a mat-list-item routerLink="/controle-financeiro"class="list-item-with-icon">
                <i class="material-icons icon">
                    health_and_safety
                </i>
                Medicine Reminder
            </a>
            <a mat-list-item routerLink="/products"class="list-item-with-icon">
                <i class="material-icons icon">
                    storefront
                </i>
                Produtos CRUD
            </a>
            <a mat-list-item routerLink="/futebol"class="list-item-with-icon">
                <i class="material-icons">
                    sports_soccer
                </i>
                Futebol Ao Vivo
            </a>
            <a mat-list-item routerLink="/futebol"class="list-item-with-icon">
                <i class="material-icons">
                    sports_soccer
                </i>
                TremdGol APP
            </a>
            <a mat-list-item routerLink="/futebol" class="list-item-with-icon">
                <i class="material-icons">
                    sports_soccer
                </i>
                Bolão Rússia 2018
            </a>
            <a mat-list-item routerLink="/futebol" class="list-item-with-icon">
                <i class="material-icons">
                    sports_soccer
                </i>
                TIPS
            </a>
            <a mat-list-item routerLink="/futebol" class="list-item-with-icon">
                <i class="material-icons">
                    sports_soccer
                </i>
                Prognósticos
            </a>
            <a mat-list-item routerLink="/futebol" class="list-item-with-icon">
                <i class="material-icons">
                    sports_soccer
                </i>
                Bola na Rede
            </a>
            <a mat-list-item routerLink="/controle-financeiro" class="list-item-with-icon">
                <i class="material-icons">
                    attach_money
                </i>
                Controle Financeiro
            </a>
            <a mat-list-item routerLink="/firesafe" class="list-item-with-icon">
                <i class="material-icons">
                    local_fire_department
                </i>
                FireSafe
            </a>
            <a mat-list-item routerLink="/firesafe" class="list-item-with-icon">
                <i class="material-icons">
                    today <!-- event_note event_available today -->
                </i>
                Agenda de Tarefas
            </a>
            <br><br><br>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content class="content">
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>