.sidenav {
    z-index: 1;
    margin-top: 0px;
    background-color: #3f51b5;
    width: 220px;
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 10px;
}

.sidenav a {
    color:#fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px 16px 16px 16px;
    background-color: #fff;
}

.container {
    margin-top: 0px;
    padding-top: 64px;
    background-color: #3f51b5;
}

.list-item-with-icon{
  transition: transform .1001s;
}

.list-item-with-icon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.07);  
    border-radius: 8px;
}