.sidenav {
    margin-top: 0px;
    background-color: #3f51b5;
    width: 210px;
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 10px;
}

.sidenav a {
    color:#fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 5px 16px 16px 16px;
    background-color: #fff;
}

.container {
    margin-top: 14px;
    background-color: #3f51b5;
}