<a routerLink="/demos">
    <button mat-raised-button color="primary">
        <span class="material-icons-two-tone md-24 v-middle">
            arrow_back
        </span>
        Back to Demos
    </button>
</a>
<div class="view-content">
    <div
        style="display: flex; justify-content: center; flex-direction: column; align-items: center; border: none; width: 100%;">

        <div
            style="display: flex; flex-direction: column; align-items: stretch; max-width: 1000px; border: none; width: 100%;">
            <button mat-raised-button (click)="navigateToProductCreate()" color="primary"
                style="margin-top: 0px; align-self: flex-start;">
                <span class="material-icons md-24 v-middle">
                    add_circle_outline
                </span>
                Novo Produto
            </button>

            <app-product-read></app-product-read>
            <br>
        </div>
    </div>
</div>