<!--
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        O que é?
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Um ChatBot que registra gastos em uma planilha por meio de mensagens.
    </mat-card-subtitle>
</mat-card>

    <div style="display: flex; flex-direction: row;justify-content: space-between; column-gap: 20px;">
-->

<div class="container">
    <div class="item">
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Application and Data
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                <!-- 

                    <div class="techs-container">
                 -->
                <div class="tech-container">
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" matTooltip="JavaScript (JS) - 
                            A lightweight, interpreted, or just-in-time compiled programming language 
                            with first-class functions. While it is most well-known as the scripting language for Web pages,
                            many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. 
                            JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting 
                            object-oriented, imperative, and declarative (e.g. functional programming) styles.">
                                <span class="tech-ballot-text">
                                    JavaScript
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/javascript-logo.png"
                                    alt="JavaScript_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <span class="tech-ballot-text">
                                HTML 5
                            </span>
                            <!-- STACKOVERFLOW
                              https://github.com/FortAwesome/angular-fontawesome
                                <fa-icon [icon]="faArrowAltCircleDown" size="1x"></fa-icon>
                                size = xs sm lg 2x 3x 4x 10x

                                STACKOVERFLOW
                                https://stackoverflow.com/questions/14474452/can-i-change-the-color-of-font-awesomes-icon-color
                                -->
                            <fa-icon [icon]="faHtml5" size="lg" class="material-icons v-middle mini-logo font-awe-icon">
                            </fa-icon>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <span class="tech-ballot-text">
                                CSS 3
                            </span>
                            <fa-icon [icon]="faCss3" size="lg" class="material-icons v-middle mini-logo font-awe-icon">
                            </fa-icon>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://reactjs.org/" matTooltip="React  - 
                            Makes it painless to create interactive UIs. 
                            Design simple views for each state in your application, 
                            and React will efficiently update and render just the right 
                            components when your data changes.">
                                <span class="tech-ballot-text">
                                    React
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/react_native_logo.png"
                                    alt="REACT_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://github.com/axios/axios" matTooltip="Axios - 
                            Promise based HTTP client for the browser and node.js." alt="Axios_logo">
                                <span class="tech-ballot-text">
                                    Axios
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://angular.io/" matTooltip="Angular - 
                            Learn one way to build applications with Angular and reuse
                            your code and abilities to build apps for any deployment target. For web, mobile web, native
                            mobile and native desktop." alt="ANGULAR_logo">
                                <span class="tech-ballot-text">
                                    Angular
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/angular-logo.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://developer.twitter.com/en/docs/twitter-api"
                                matTooltip="Twitter API - 
                            The Twitter API enables programmatic access to Twitter in unique and advanced ways. Use it to analyze, 
                            learn from, and interact with Tweets, Direct Messages, users, and other key Twitter resources.">
                                <span class="tech-ballot-text">
                                    Twitter API
                                </span>
                                <img class="mini-logo v-middle" src="assets/img/tech-logos/twitter-logo-1.png"
                                    alt="Twitter_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.typescriptlang.org/" matTooltip="TypeScript - 
                                An open-source language which builds on JavaScript, 
                            one of the world’s most used tools, by adding static type definitions. 
                            All valid JavaScript code is also TypeScript code.">
                                <span class="tech-ballot-text">
                                    TypeScript
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/typescript-logo.png"
                                    alt="TypeScript_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://material.angular.io/"
                                matTooltip="Material design for Angular - 
                            Internationalized and accessible components for everyone. Well tested to ensure performance and reliability."
                                alt="ANGULAR_logo">
                                <span class="tech-ballot-text">
                                    Angular Material
                                </span>
                                <img class="mini-logo" style="color: black;"
                                    src="assets/img/tech-logos/angular-material-logo.svg" alt="Angular_material_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://reactnative.dev/" matTooltip="React Native - 
                            Create native apps for Android and iOS using
                            React">
                                <span class="tech-ballot-text">
                                    React Native
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/react_native_logo.png"
                                    alt="REACTNATIV_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://expo.io/" matTooltip="Expo - 
                            A framework and a platform for universal React applications. 
                            It is a set of tools and services built around React Native and native 
                            platforms that help you develop, build, deploy, and quickly iterate on iOS, 
                            Android, and web apps from the same JavaScript/TypeScript codebase.">
                                <span class="tech-ballot-text">
                                    Expo
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/expo-logo.svg" alt="Expo_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.npmjs.com/package/json-server" matTooltip="JSON Server - 
                            Created with <3 for front-end developers who need a quick back-end for prototyping and mocking.
                            Get a full REST API with zero coding in less than 30 seconds.">
                                <span class="tech-ballot-text">
                                    JSON Server
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.sqlite.org/" matTooltip="SQLite - 
                            A C-language library that implements a small, fast, 
                            self-contained, high-reliability, full-featured, SQL database engine. 
                            SQLite is the most used database engine in the world. SQLite is built into 
                            all mobile phones and most computers and comes bundled inside countless other 
                            applications that people use every day.">
                                <span class="tech-ballot-text">
                                    SQLite
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/sqlite-logo.png" alt="SQLite_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://expressjs.com/" matTooltip="ExpressJS - 
                            Fast, unopinionated, minimalist web framework for Node.js.
                            Express is a minimal and flexible Node.js web application framework that provides a robust
                            set of features for web and mobile applications.
                            Express is a project of the OpenJS Foundation.">
                                <span class="tech-ballot-text">
                                    ExpressJS
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="http://knexjs.org/" matTooltip="Knex.js - 
                            A 'batteries included' SQL query builder for Postgres, MSSQL, MySQL, MariaDB, SQLite3,
                            Oracle, and Amazon Redshift designed to be flexible, portable, and fun to use.
                            Knex is available for use under the MIT software license.">
                                <span class="tech-ballot-text">
                                    Knex.js
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>

                </div>
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="item">
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Infrastructure
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                <div class="tech-container">
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://nodejs.org/" matTooltip="Node.js - 
                             A JavaScript runtime built on Chrome's V8 JavaScript engine. As an asynchronous event-driven
                             JavaScript runtime, Node.js is designed to build scalable network applications.">
                                <span class="tech-ballot-text">
                                    Node.js
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/nodejs-logo.png" alt="Node-js_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://ubuntu.com/"
                                matTooltip="Ubuntu - 
                            A Linux distribution based on Debian and composed mostly of free and open-source software.">
                                <span class="tech-ballot-text">
                                    Ubuntu
                                </span>
                                <fa-icon [icon]="faUbuntu" size="lg"
                                    class="material-icons v-middle mini-logo font-awe-icon">
                                </fa-icon>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://pm2.keymetrics.io/" matTooltip="PM2 - 
                            A daemon process manager that will help you manage and keep your application online 24/7">
                                <span class="tech-ballot-text">
                                    PM2
                                </span>
                                <img class="mini-logo" style="width: 2.3rem;" src="assets/img/tech-logos/pm2-logo.png"
                                    alt="PM2_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://nginx.org/en/" matTooltip="NGINX - 
                            An HTTP and reverse proxy server, a mail proxy server, and a generic
                            TCP/UDP proxy server, originally written by Igor Sysoev.">
                                <span class="tech-ballot-text">
                                    NGINX
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/nginx-logo.svg" alt="NGINX_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.nginx.com/products/nginx-amplify/" matTooltip="NGINX Amplify - 
                            A free, SaaS based monitoring tool for NGINX Open Source and NGINX Plus. 
                            With NGINX Amplify you can monitor performance, keep track of infrastructure assets, 
                            and improve configuration with static analysis.">
                                <span class="tech-ballot-text">
                                    NGINX Amplify
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/nginx-amplify-logo.svg"
                                    alt="NGINX_amplify_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://developers.google.com/apps-script" matTooltip="Google Apps Script - 
                            A modern JavaScript cloud-based platform to build solutions integrating all Google Services and 
                            external APIs.">
                                <span class="tech-ballot-text">
                                    Google Apps Script
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/google-apps-script.svg"
                                    alt="GAS_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.microsoft.com/en-us/windows"
                                matTooltip="Windows 10 - 
                            A series of operating systems developed by Microsoft and released as part of its Windows NT family of operating systems.">
                                <span class="tech-ballot-text">
                                    Windows 10
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/windows10-logo.png"
                                    alt="Windows10_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.digitalocean.com/" matTooltip="Digital Ocean - 
                            One of the best cloud infraestructure provider in the world.">
                                <span class="tech-ballot-text">
                                    DigitalOcean
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/digitalocean-icon-1.svg"
                                    alt="DigitalOcean_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://git-scm.com/" matTooltip="Git - 
                            A free and open source distributed version control system
                             designed to handle everything from small to very large projects 
                             with speed and efficiency.">
                                <span class="tech-ballot-text">
                                    Git
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/git-logo.png" alt="Git_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://github.com/" matTooltip="GitHub - 
                            A provider of Internet hosting for software development and version control using Git. 
                            It offers the distributed version control and source code management (SCM) 
                            functionality of Git, plus its own features.">
                                <span class="tech-ballot-text">
                                    GitHub
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/github-logo.png" alt="GitHub_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.vim.org/" matTooltip="Vim - 
                            A highly configurable text editor built to make creating and 
                            changing any kind of text very efficient. It is included as 'vi' 
                            with most UNIX systems and with Apple OS X.">
                                <span class="tech-ballot-text">
                                    Vim
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/vim32x32.gif" alt="Vim_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.npmjs.com/" matTooltip="NPM - 
                                A package manager for the JavaScript programming language.">
                                <span class="tech-ballot-text">
                                    NPM
                                </span>
                                <img class="mini-logo" style="width: 2.3rem;" src="assets/img/tech-logos/npm-logo.png"
                                    alt="NPM_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://certbot.eff.org/" matTooltip="Certbot - 
                            A free, open source software tool for automatically using Let’s Encrypt
                             certificates on manually-administrated websites to enable HTTPS.">
                                <span class="tech-ballot-text">
                                    Certbot
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/certbot-logo.png"
                                    alt="Certbot_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://www.putty.org/" matTooltip="PuTTy - 
                            An SSH and telnet client, developed originally by Simon Tatham for the Windows
                             platform. PuTTY is open source software that is available with source code and is developed 
                             and supported by a group of volunteers.">
                                <span class="tech-ballot-text">
                                    PuTTy
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/putty-logo.png" alt="PuTTy_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                </div>
            </mat-card-subtitle>
        </mat-card>

    </div>
</div>
<div style="height: 40px;">
</div>
<div class="container">
    <div class="item">
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Utilities
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                <div class="tech-container">
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://developer.android.com/studio" matTooltip="Android Studio - 
                            Provides the fastest tools for building apps on every type of Android device.">
                                <span class="tech-ballot-text">
                                    Android Studio
                                </span>
                                <img class="mini-logo" style="width: 2.7rem; margin-left: -10px;"
                                    src="assets/img/tech-logos/android-studio-logo.png" alt="AndroidStudio_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://stackoverflow.com/" matTooltip="Stack Overflow - 
                                A question and answer site for professional and enthusiast programmers.">
                                <span class="tech-ballot-text">
                                    Stack Overflow
                                </span>
                                <!--
                                <fa-icon [icon]="faStackOverflow" size="lg"
                                class="material-icons v-middle mini-logo font-awe-icon">
                            </fa-icon>
                             -->
                                <img class="mini-logo" style="width: 2.3rem; margin-left: -7px;"
                                    src="assets/img/tech-logos/stack-overflow-logo.png" alt="Stack_Overflow_logo" />
                            </a>

                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://stackblitz.com/" matTooltip="StackBlitz - 
                            The online code editor for web apps. Powered by Visual Studio Code.
                            ">
                                <span class="tech-ballot-text">
                                    StackBlitz
                                </span>
                                <img class="mini-logo" style="width: 1.5rem;"
                                    src="assets/img/tech-logos/stackblitz-logo.svg" alt="StackBlitz_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://codepen.io/jvictorhub/pen/KKgGByE" matTooltip="
                            Codepen - 
                            At its heart, it allows you to write code in the browser, 
                            and see the results of it as you build. A useful and 
                            liberating online code editor for developers of any skill.">
                                <span class="tech-ballot-text">
                                    Codepen
                                </span>
                                <fa-icon [icon]="faCodepen" size="lg"
                                    class="material-icons v-middle mini-logo font-awe-icon">
                                </fa-icon>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://code.visualstudio.com/" matTooltip="Visual Studio Code - 
                            A free source-code editor made by Microsoft for Windows, Linux and macOS.
                            Features include support for debugging, syntax highlighting, 
                            intelligent code completion, snippets, code refactoring, and embedded Git.">
                                <span class="tech-ballot-text">
                                    VSCode
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/vs-code-logo.svg" alt="VSCode_logo" />
                            </a>

                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://insomnia.rest/" matTooltip="Insomnia - 
                            The Desktop API client for REST, GraphQL and gRPC. Make requests, inspect responses.">
                                <span class="tech-ballot-text">
                                    Insomnia
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/insomnia-logo.svg"
                                    alt="Insomnia_logo" />
                            </a>
                        </div>
                    </div>

                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://notepad-plus-plus.org/" matTooltip="Notepad++ - 
                            A free source code editor and Notepad replacement that supports several languages.">
                                <span class="tech-ballot-text">
                                    Notepadd++
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/npp-logo.svg" alt="Notepad++_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <span class="tech-ballot-text">
                                <a href="http://css3generator.com/" matTooltip="CSS3 Generator - 
                                A website that helps you with CSS3 elements.">CSS3
                                    Generator</a>
                            </span>

                        </div>
                    </div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                </div>
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="item">
        <mat-card class="home mat-elevation-z4 card-col-description">
            <mat-card-title class="title">
                Business Tools
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                <div class="tech-container">
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://discord.com/"
                                matTooltip="Discord - 
                            an American VoIP, instant messaging and digital distribution platform designed
                             for creating communities. Users communicate with voice calls, video calls, 
                             text messaging, media and files in private chats or as part of communities called 'servers'.">

                                <span class="tech-ballot-text">
                                    Discord
                                </span>
                                <fa-icon [icon]="faDiscord" size="lg"
                                    class="material-icons v-middle mini-logo font-awe-icon">
                                </fa-icon>
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://meet.google.com" matTooltip="Google Meet - 
                            A video-communication service developed by Google.[1] It is one of two apps that
                             constitute the replacement for Google Hangouts, the other being Google Chat.">
                                <span class="tech-ballot-text">
                                    Google Meet
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/google-meet-logo.png"
                                    alt="Google_Meet_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://drive.google.com" matTooltip="Google Drive - 
                                A file storage and synchronization service developed by Google.">
                                <span class="tech-ballot-text">
                                    Google Drive
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/google-drive-logo.png"
                                    alt="Google_drive_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://mail.google.com"
                                matTooltip="Gmail - 
                            A free e-mail service that is run by Google. It can be accessed on the web, by POP3, or by IMAP.">
                                <span class="tech-ballot-text">
                                    Gmail
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/gmail-logo.png" alt="Gmail_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://core.telegram.org/bots/api" matTooltip="The Telegram Bot API - 
                            Allows you to create and manage Chatbots. Just simple to interact with text messages and chat buttons as
                            we use it on a daily basis.">
                                <span class="tech-ballot-text">
                                    Telegram
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/256px-Telegram_logo.png"
                                    alt="TELEGRAM_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item">
                        <div class="tech-ballot">
                            <div class="blob"></div>
                            <a href="https://sheets.google.com" matTooltip="Google Sheets - 
                            Easy way to explore and organize data. Integrated With Google Apps Scripts you can automate workflows 
                            and boost productivity.">
                                <span class="tech-ballot-text">
                                    Google Sheets
                                </span>
                                <img class="mini-logo" src="assets/img/tech-logos/google-sheets-logo.png"
                                    alt="SHEETS_logo" />
                            </a>
                        </div>
                    </div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                    <div class="tech-item-empty">empty</div>
                </div>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
<br>
<br>
<br>