.div-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    column-gap: 20px;
}

.div-columns>.home {
    margin-bottom: 0px;
    border-radius: 8px;
    width: 100%;
}

.home {
    margin-bottom: 20px;
    border-radius: 8px;
}

.home .title {
    font-size: 1.5rem;
    font-weight: light;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
    margin-top: 0px;
}

.mini-logo {
    width: 1.1rem;
    vertical-align: middle;
}

.center-horizontal {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.icone>.tooltiptext {
    visibility: hidden;
    width: 262px;
    background-color: rgba(111, 111, 111, 0.90);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin: 20px 15px;
    font-size: 1rem;
}

.icone:hover .tooltiptext {
    visibility: visible;
}

.tech {
    width: 50%;
    transition: transform .1s;
}

.tech:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.01);
}

.tech>.tooltiptext {
    visibility: hidden;
    width: 369px;
    background-color: rgba(111, 111, 111, 0.90);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    /* Position the tooltip */
    position: above;
    z-index: 9999;
    margin: 20px 15px;
    font-size: 1rem;
    display: unset;
}

.tech:hover .tooltiptext {
    visibility: visible;
}

::ng-deep .mat-tooltip {
    font-size: 16px !important;
    background-color: rgba(111, 111, 111, 0.90) !important;
    /* white-space: pre-line !important;  THIS TO MULTIPLE LINES */
}

.show {
    visibility: visible;
}

.mini-logo {
    width: 2.2rem;
    vertical-align: middle;
    transition: transform .3s;
    border-radius: 8px;
}

.mini-logo:hover {
    -ms-transform: scale(1.6);
    /* IE 9 */
    -webkit-transform: scale(1.6);
    /* Safari 3-8 */
    transform: scale(1.6);
}

.techs-column-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.techs-column-div>* {
    /* "> *" significa que todo filho deste elemento terá */
    margin-right: 16px;
}