/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #21923c;
    color: #fff
}

.msg-error {
    background-color: #e35e6b;
    color: #fff
}

.msg-default {
    background-color: #343636;
    color: #fff
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-60 { font-size: 60px; }

.material-icons-round.md-18 { font-size: 18px; }
.material-icons-round.md-21 { font-size: 21px; }
.material-icons-round.md-24 { font-size: 24px; }
.material-icons-round.md-26 { font-size: 26px; }
.material-icons-round.md-28 { font-size: 28px; }
.material-icons-round.md-32 { font-size: 32px; }
.material-icons-round.md-36 { font-size: 36px; }
.material-icons-round.md-42 { font-size: 42px; }
.material-icons-round.md-48 { font-size: 48px; }
.material-icons-round.md-54 { font-size: 54px; }
.material-icons-round.md-60 { font-size: 60px; }

.material-icons-two-tone.md-18 { font-size: 18px; }
.material-icons-two-tone.md-21 { font-size: 21px; }
.material-icons-two-tone.md-24 { font-size: 24px; }
.material-icons-two-tone.md-26 { font-size: 26px; }
.material-icons-two-tone.md-28 { font-size: 28px; }
.material-icons-two-tone.md-32 { font-size: 32px; }
.material-icons-two-tone.md-36 { font-size: 36px; }
.material-icons-two-tone.md-42 { font-size: 42px; }
.material-icons-two-tone.md-48 { font-size: 48px; }
.material-icons-two-tone.md-54 { font-size: 54px; }
.material-icons-two-tone.md-60 { font-size: 60px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }