<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        You can find me here
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <div style="display: flex;justify-content: center;column-gap: 50px;">
            <a href="mailto:victorjtube@gmail.com" title="E-mail" >
                <span class="material-icons md-54 v-middle mini-logo">
                    mail
                </span>
            </a>
            <a href="https://github.com/jvictorhub" target="_blank" style="margin-top: 6px;">
                <img class="mini-logo" src="assets/img/tech-logos/github-logo.png" alt="GitHub_logo"
                    title="Check out my projects on GitHub" />
            </a>

            <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-ramos-6570a21b7/" target="_blank"
                style="margin-top: 6px;">
                <img class="mini-logo" src="assets/img/tech-logos/linkedin-logo.png" alt="Linkedin_logo"
                    title="Connect on Linkedin" />
            </a>
            <a href="https://www.youtube.com/channel/UCXtXm6Uew48cx3Ne-YGF6tg" title="My YouTube channel"
                target="_blank">
                <span class="material-icons md-54 v-middle mini-logo" style="color:black; margin:0px 0 0 0px">
                    play_circle
                    <!-- video_library play_circle -->
                </span>
            </a>
        </div>
    </mat-card-subtitle>
</mat-card>