<mat-card class="home mat-elevation-z4">
    <a class="center-horizontal" href="../assets/img/Screenshot_20210105-230631_Telegram.jpg">
        <img class="print-image" src="assets/img/Screenshot_20210105-230631_Telegram.jpg" alt="PRINT_gastos_logo" />
    </a>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        O que é?
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Um ChatBot que registra gastos em uma planilha por meio de mensagens.
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Lançamento
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        2017
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Tecnologias utilizadas
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Frontend:<br>
        <a href="https://telegram.org/">
            <img class="mini-logo" src="assets/img/256px-Telegram_logo.png" alt="TG_logo" />
            Telegram (nativo)
        </a>
        <br><br>Backend:<br>
        <a href="https://sheets.google.com">
            <img class="mini-logo" src="assets/img/google-sheets-logo.png" alt="SHEETS_logo" />
            Google Sheet
        </a>
        <br><br>Infraestrutura:<br>
        <a href="https://developers.google.com/apps-script">
            <img class="mini-logo" src="assets/img/google-apps-script.svg" alt="GAS_logo" />
            Google Apps Scripts
        </a>
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Descrição
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Aplicação web desenvolvida em <b>JAVASCRIPT</b>. Hospedado gratuitamente no serviço de nuvem <b>GOOGLE APPS
            SCRIPT</b>
        como webhook de um <b>TELEGRAM BOT</b>. A segurança é garantida pelo <b>GOOGLE</b> a <b>TELEGRAM BOT API</b> com
        uso de <b>TOKENS</b> e
        <b>HTTPS</b>. O backend guarda informações em <b>GOOGLE SHEETS</b>.
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Desafios
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <ul>
            <li *myFor="let n em [
            'aprender a programar em JavaScript',
            'aprender a manipular JSON' ,
                'aprender a utilizar Web APIs',
                'aprender como funciona um ChatBot',
                'aprender a criar scripts e rotinas na plataforma de nuvem do Google Apps Scripts'
                ]">
                {{ n }}</li>
        </ul>
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        História
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Eu e minha irmã registrávamos gastos com despesas em conjunto em um <i>grupo no Telegram</i>. O processo era
        manual,
        com mensagens para registrar as despesas do mês. A cada novo mês era preciso somar os gastos e fazer um
        relatório. Assim que descobri a funcionalidade de chatbot do Telegram e fiz meu primeiro Bot, tive a ideia
        de
        usa-lo para coletar as informações e gerar o relatório mensal automaticamente.
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Links
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <ul>
            <li *myFor="let n em [
            'https://core.telegram.org/bots',
                'https://core.telegram.org/bots/api',
                'https://developers.google.com/apps-script'
                ]">
                {{ n }}</li>
        </ul>
    </mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        EXTRA - Como fazer um robô de conversas no Telegram?
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Confira este meu vídeo ensinando a criar o seu primeiro ChatBot no Telegram do zero. Sem saber programar, apenas
        seguindo os passos, você terá seu próprio ChatBot. Tudo configurado e rodando 100% na nuvem com Google Apps
        Script.
        <br><br>
        <iframe width="480px" height="240px" src="https://www.youtube.com/embed/NYg5iDCjTNg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </mat-card-subtitle>
</mat-card>