.home {
    margin-bottom: 20px;
    border-radius: 8px;
}

.home .title {
    font-size: 1.5rem;
    font-weight: light;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
    margin-top: 0px;
}

.mini-logo {
    width: 1.1rem;
    vertical-align: middle;
}

.print-image {
    width: 15rem;
    vertical-align: middle;
    align-self: center;
    border-width: 10;
    border-color: black;
    border-radius: 8px;
}

.print-image:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);  
}

.center-horizontal {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

iframe {
    margin: 0 auto;
    display: block;
    border-style:none;
    border-radius: 8px;
}
