<div class="view-content">
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; border: none; width: 100%;">

        <div style="display: flex; flex-direction: column; align-items: stretch; max-width: 1000px; border: none; width: 100%;">

            <mat-card class="home mat-elevation-z4">
                <mat-card-title class="title">
                    <a href="https://skills.jvictor.com.br" target="_blank">
                        New skills and projects page
                    </a>
                </mat-card-title>
                <mat-card-subtitle class="subtitle">
                    Please visit my new page <a href="https://skills.jvictor.com.br" target="_blank">
                        skills.jvictor.com.br
                    </a> (2022)
                    <!-- 

                        <div style="display: flex; padding: 10px;justify-content: center; flex-direction: column; align-items: center; border: none; width: 100%;">
                            <div style="width: 80%;">
                                <a class="center-horizontal" href="https://skills.jvictor.com.br" target="_blank">
                                    <img src="../../../assets/img/projects/screenshots/skills-screenshot.png" alt="skills page screenshot" width="100%" />
                                </a>
                            </div>
                        </div>
                    -->

                </mat-card-subtitle>
            </mat-card>
        </div>
        <div style="max-width: 1800px; border: none; width: 100%;">

            <div class="container">

                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            TremdGol.com
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Vue ● Web ● 2022
                            </div>

                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-tremdgol.com.png" alt="project screenshot" height="95%">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Live soccer games statistics with a interactive virtual field (canvas). Backend data comes from tremdgol-backend project
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://tremdgol.com" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    tremdgol.com
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English">EN</sup>
                                <a href="https://github.com/jvictorjs/tremdgol" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/watch?v=2kQNpB26RIQ" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Vue </div>
                                <div class="mini-tech"> Vuetify </div>
                                <div class="mini-tech"> REST APIs </div>
                                <div class="mini-tech"> HTML Canvas </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            My Course Platform
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                React ● Web ● 2022
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-my-course-platform.png" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Online course platform for my coding video lessons.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://course.jvictor.com.br" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    course.jvictor.com.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English | Lessons content: Brazilian Portuguese with English Subtitles">EN/PT</sup>
                                <a href="https://github.com/jvictorjs/courses-platform" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> React </div>
                                <div class="mini-tech"> Vite </div>
                                <div class="mini-tech"> GraphQL </div>
                                <div class="mini-tech"> Apollo Client </div>
                                <div class="mini-tech"> codegen </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            TremdGol
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                React Native ● Mobile ● 2021
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/playstore-tremdgol-free-screenshot.png" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Live soccer matches statistics mobile app for Android.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://play.google.com/store/apps/details?id=com.bolanarede.tremdgol_free" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    Google Play Store download
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English">EN</sup>
                                <a href="https://github.com/jvictorjs/tremdgol-app" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/watch?v=knUdqEsFIg4" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> React </div>
                                <div class="mini-tech"> React Native </div>
                                <div class="mini-tech"> REST APIs </div>
                                <div class="mini-tech"> Expo </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>

                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Skills page
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Vue ● Web ● 2022
                            </div>

                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-skills.png" alt="project screenshot" height="95%">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Web page to present the technologies and tools that are in my area of expertise.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://skills.jvictor.com.br" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    skills.jvictor.com.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English">EN</sup>
                                <a href="https://github.com/jvictorjs/skills-word-cloud" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Vue </div>
                                <div class="mini-tech"> Vuetify </div>
                                <div class="mini-tech"> Material Design Icons </div>
                                <div class="mini-tech"> CSS Transitions </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Telegram Web Clone
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Vue ● Web ● 2022
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-telegram-clone.png" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Personal web page that simulates a message app interface to present my professional skills and experience.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://jvictor.com.br" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    jvictor.com.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English">EN</sup>
                                <a href="https://github.com/jvictorjs/telegram-clone" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/watch?v=Nm9cWR95-hY" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Vue </div>
                                <div class="mini-tech"> Vuetify </div>
                                <div class="mini-tech"> Material Design Icons </div>
                                <div class="mini-tech"> HTML Audio </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Avalia ME
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Vue ● Web ● 2021
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-avalia-me.png" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Employee Performance Evaluation web site of Brazil's Ministry of Economy. It has more than 10.000 active users.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://avalia.economia.gov.br/" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    avalia.economia.gov.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: Brazilian Portuguese">PT</sup>
                                <a href="https://www.youtube.com/watch?v=B3hnfrcYefw" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Vue </div>
                                <div class="mini-tech"> Vuetify </div>
                                <div class="mini-tech"> Material Design Icons </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>

                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Fundo a Fundo Dashboard
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Qlik Sense ● Web ● 2020
                            </div>

                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-painel-fundo-a-fundo.png" alt="project screenshot" height="95%">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                BI Dashboard created to present data from the Brazil's Ministry of Economy.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://painelfundoafundo.economia.gov.br" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    painelfundoafundo.economia.gov.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: Brazilian Portuguese">PT</sup>
                                <a href="https://www.youtube.com/watch?v=xm1f4tRW0Sg" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Qlik Sense </div>
                                <div class="mini-tech"> HTML </div>
                                <div class="mini-tech"> CSS </div>
                                <div class="mini-tech"> JavaScript </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Bola na Rede
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Angular ● Web ● 2021
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-bolanarede.png" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Web page created to present live soccer games statistics.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://bolanarede.net.br" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    bolanarede.net.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: Brazilian Portuguese">PT</sup>
                                <a href="https://github.com/jvictorjs/bolasite" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/watch?v=K4GuKwINolQ" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Angular </div>
                                <div class="mini-tech"> TypeScript </div>
                                <div class="mini-tech"> REST APIs </div>
                                <div class="mini-tech"> Chart.js </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Portfolio page
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Angular ● Web ● 2021
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-portfolio.png" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Personal portfolio page gathering basic professional information with also some built-in small applications.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://portfolio.jvictor.com.br/" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    portfolio.jvictor.com.br
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English">EN</sup>
                                <a href="https://github.com/jvictorjs/portfolio" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> Angular </div>
                                <div class="mini-tech"> TypeScript </div>
                                <div class="mini-tech"> REST APIs </div>
                                <div class="mini-tech"> Socket.io </div>
                                <div class="mini-tech"> Express.js </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>

                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            TremdGol Backend (Soccer Stats API)
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Node.js ● REST API ● 2020
                            </div>

                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-tremdgol-backend2.png" alt="project screenshot" height="95%">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                REST API that provides soccer matches statistics to other applications.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://api.tremdgol.com" class="list-item-with-icon" target="_blank" style="font-size: 23px;">
                                    api.tremdgol.com
                                </a>
                                <sup style="font-weight: bold; margin: 0 0 10px 5px;" title="Language: English">EN</sup>
                                <a href="https://github.com/jvictorjs/tremdgol-backend" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; flex-wrap:wrap; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> JSON Server </div>
                                <div class="mini-tech"> Digital Ocean </div>
                                <div class="mini-tech"> Certbot SSL </div>
                                <div class="mini-tech"> REST APIs </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Firesafe (hackaton prototype)
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                React Native ● Mobile ● 2020
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-firesafe.jpg" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                Hackathon project for 2020 Nasa Space Apps Challenge - Location: Recife (2nd place award)
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://github.com/jvictorjs/nasa_space_apps_2020" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> React </div>
                                <div class="mini-tech"> React Native </div>
                                <div class="mini-tech"> Expo </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            Medicine Reminder
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                            <div style="padding: 5px 0 13px 0; display: flex; align-items: center; justify-content: center;">
                                Google Apps Script ● Telegram Bot ● 2019
                            </div>
                            <div>
                                <img class="mini-project-screenshot" src="assets/img/projects/screenshots/project-medicine-reminder.jpg" alt="project screenshot">
                            </div>
                            <br>
                            <div style="padding: 5px; display: flex; align-items: center; justify-content: center; height: 50px;">
                                A useful chatbot that reminds you when it is time to take that pill. This is one of many Telegram Bots I created.
                            </div>
                            <div style="padding: 13px; display: flex; align-items: center; justify-content: center;">
                                <a href="https://github.com/jvictorjs/medicine-reminder-telegram-chatbot" target="_blank" title="GitHub Repository">
                                    <fa-icon [icon]="faGithub" size="1x" class="material-icons v-middle mini-logo" style="color: black;margin:2px 2px 0 16px"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/shorts/KbZ9CUsmLcI" title="YouTube Demonstration" target="_blank">
                                    <fa-icon [icon]="faYoutube" size="1x" class="material-icons v-middle mini-logo" style="color: rgba(255, 0, 0, 0.753);margin:2px 0 0 15px"></fa-icon>
                                </a>
                            </div>
                            <div style="padding: 10px 0 0 0; display: flex; align-items: center; justify-content: center; background-color: transparent; margin: 0 0 -20px 0;">
                                <div class="mini-tech"> JavaScript </div>
                                <div class="mini-tech"> Google Apps Script </div>
                                <div class="mini-tech"> Triggers </div>
                                <div class="mini-tech"> Web Apps </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<!-- 

    <button mat-raised-button color="primary">
        <a href="/portfolio-table">
            <span class="material-icons md-24 v-middle">
                table_view
            </span>
            switch to table view
        </a>
    </button>
    
-->
<!-- 
<div class="view-content">
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; border: none; width: 100%;">
        <div style="max-width: 1800px; border: none; width: 100%;">
            <mat-card class="mat-elevation-z4 home">
                <mat-card-title class="title">
                    Projects List
                    <span class="icone">
                        <span class="tooltiptext">⭐️ basic app
                            <br>⭐️⭐️ modest / intermediate app
                            <br>⭐️⭐️⭐️ advanced app</span>
                        <span class="material-icons-two-tone md-21">
                            info
                        </span>
                    </span>
                </mat-card-title>
                <mat-card-subtitle class="subtitle">
                    All projects listed above are active and working, altough some of them has restricted/private access.
                    There are some more to show, but these are the ones I'm most proud of. I use the majority of them everyday.
                    <br><br>
                    <i class="material-icons-two-tone mini-logo-fixed">
                        desktop_windows
                    </i>Web: accessible via web browser
                    <br>
                    <i class="material-icons-two-tone mini-logo-fixed">
                        phone_android
                    </i>Mobile: mobile phone application
                    <br>
                    <i class="material-icons-two-tone mini-logo-fixed">
                        chat
                    </i>Telegram Chatbot: services available via instant messages and commands
                </mat-card-subtitle>
                <mat-card-subtitle class="subtitle">

                </mat-card-subtitle>
            </mat-card>

            <div class="container">

                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            <a routerLink="/controle-financeiro" class="list-item-with-icon">
                                <i class="material-icons icon md-36 v-middle">
                                    attach_money
                                </i>
                                Controle Financeiro
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                    -->
<!--
                            
                            name: 'Controle Financeiro', launched_year: 2017, project_icon: 'attach_money', platform:
                            'Telegram
                            Chatbot',
                            category: '⭐️',
                            website: '-', website_text: '', portfolio_link: 'controle-financeiro',
                            github_link: '', techs: '#TG', total_apis: 1, total_apis_owned: 0,
                            angular: 'hide', reactNative: 'hide', telegramBot_api: 'tech-tool-show', googleSheet:
                            'tech-tool-show',
                            googleAppsScript: 'tech-tool-show', digitalOcean: 'hide', twitter_api: 'hide'
                            <br> <br>
                        -->
<!--
                            <i class="material-icons-two-tone mini-logo-fixed" matTooltip="{{TELEGRAM_PLATFORM_DESCRIPTION}}">
                                chat
                            </i>Chatbot
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            <a routerLink="/controle-financeiro" class="list-item-with-icon">
                                <i class="material-icons md-36 icon v-middle">
                                    health_and_safety
                                </i>
                                Medicine Reminder
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                    -->
<!--
                            
                            name: 'Medicine Reminder', launched_year: 2017, project_icon: 'health_and_safety', platform:
                            'Telegram
                            Chatbot',
                            category: '⭐️',
                            website: 't.me/', website_text: '', portfolio_link: 'link',
                            github_link: '', techs: '#TG', total_apis: 1, total_apis_owned: 0,
                            angular: 'hide', reactNative: 'hide', telegramBot_api: 'tech-tool-show', googleSheet:
                            'tech-tool-show',
                            googleAppsScript: 'tech-tool-show', digitalOcean: 'hide', twitter_api: 'hide'
                            <br> <br>
                        -->
<!--
                            <span> 2019 </span>
                            ●
                            <i class="material-icons-two-tone mini-logo-fixed" matTooltip="{{TELEGRAM_PLATFORM_DESCRIPTION}}">
                                chat
                            </i>Chatbot
                            <div class="techs-column-div">

                                <div class="tech-tool-show">
                                    <a href="https://core.telegram.org/bots/api" matTooltip={{TELEGRAM_DESCRIPTION}}>
                                        <img class="mini-logo" src="assets/img/tech-logos/256px-Telegram_logo.png" alt="TELEGRAM_logo" />
                                    </a>
                                </div>
                                <div class="tech-tool-show">
                                    <a href="https://sheets.google.com" matTooltip={{GOOGLE_SHEETS_DESCRIPTION}}>
                                        <img class="mini-logo" src="assets/img/tech-logos/google-sheets-logo.png" alt="SHEETS_logo" />
                                    </a>
                                </div>
                                <div class="tech-tool-show">
                                    <a href="https://developers.google.com/apps-script" matTooltip={{GOOGLE_APPS_DESCRIPTION}}>
                                        <img class="mini-logo" src="assets/img/tech-logos/google-apps-script.svg" alt="GAS_logo" />
                                    </a>
                                </div>
                            </div>
                            <span style="text-align: center;">
                                A very useful chatbot that reminds you when it is time to take that pill.</span>
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item">
                    <mat-card class="mat-elevation-z4 div-project-mini-card">
                        <mat-card-title class="title">
                            <a routerLink="/controle-financeiro" class="list-item-with-icon">
                                <i class="material-icons icon md-36 v-middle">
                                    work
                                </i>
                                The Quotes Bot
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle class="project-description">
                        -->
<!--
                                
                                name: 'The Portfolio Bot', launched_year: 2021, project_icon: 'work', platform: 'Telegram
                                Chatbot',
                                category:
                                '⭐️',
                                website: 't.me/ThePortfolioBot', website_text: '', portfolio_link: 'link',
                                github_link: '', techs: '#TG', total_apis: 1, total_apis_owned: 0,
                                angular: 'hide', reactNative: 'hide', telegramBot_api: 'tech-tool-show', googleSheet: 'hide',
                                googleAppsScript: 'tech-tool-show', digitalOcean: 'hide', twitter_api: 'hide'
                            -->
<!--
                            <i class="material-icons-two-tone mini-logo-fixed" matTooltip="{{TELEGRAM_PLATFORM_DESCRIPTION}}">
                                chat
                            </i>Chatbot
                        </mat-card-subtitle>
                    </mat-card>
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
                <div class="item-empty">
                    empty
                </div>
            </div>
        </div>
    </div>
</div>
-->